@import '../../vars.css';

.container {
    color: var(--color-text);
    margin-top: 120px;
    background-color: var(--color-secondary);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100vw;
    padding: 58px 10%;
    gap: 10px;
}

.text h2 {
    font-size: 80px;
    font-weight: 700;
    letter-spacing: 4px;
}

.text p {
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 2px;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    gap: 26px;
}

.link {
    display: flex;
    align-items: center;
    gap: 25px;
    transition: background-color 0.4s ease, transform 0.4s ease;
}

.link:hover {
    background-image: linear-gradient(90deg, rgba(165, 215, 232, 0.42) 0%, rgba(255, 255, 255, 0) 100%);
    transform: scale(1.05);
    transition: 0.4s;
}

.link a {
    color: var(--color-text);
    text-decoration: none;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1.5px;
}

.resumeButton {
    display: inline-block;
    margin-top: 10px;
    padding: 12px 20px;
    background-color: #0056b3; 
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    transition: background-color 0.4s ease, transform 0.4s ease;
}

.resumeButton:hover {
    background-image: linear-gradient(90deg, rgba(165, 215, 232, 0.42) 0%, rgba(255, 255, 255, 0) 100%);
    transform: scale(1.05);
    transition: 0.4s;
}


@media screen and (max-width: 830px) {
    .container{
        flex-direction: column;
        gap: 23px;
    }

    .text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .links {
        align-items: center;
    }
}